En el {{ trimestre_ordinal }} trimestre de {{ anio }}, el PIB de México fue de $ {{ pib_mmdp|numero(2) }} miles de millones de pesos, de los cuales $ {{ tyr_mmdp|numero(2) }} miles de millones ({{ pct_tyr|porcentaje(1) }}) correspondieron a la contribución conjunta de los subsectores de telecomunicaciones y radiodifusión (TyR).
