Al {{ trimestre_ordinal }} trimestre de {{ anio }}, los resultados de la Encuesta Nacional de Ocupación y Empleo (ENOE) indican que el {{ pct_telecom | porcentaje(0) }} de las personas empleadas se registran en el sector de telecomunicaciones y el {{ pct_radio | porcentaje(0) }} restante en el sector de radiodifusión, lo que en su conjunto representa un total de {{ total_personas | numero(0) }} personas empleadas en TyR.
