En 2024, la Inversión Extranjera Directa acumulada a junio en telecomunicaciones fue de {{ ied_telecom | numero(2) }} millones de dólares, equivalente al {{ participacion | numero(2) }}% de la IED total de México, que ascendió a {{ ied_mexico | numero(2) }} millones de dólares. En el periodo mostrado, el mayor monto de IED en telecomunicaciones se registró en {{ anio_mayor }}, con {{ ied_mayor | numero(2) }} millones de dólares.
