En el segmento residencial del servicio de televisión restringida, el último corte disponible del BIT ({{ anio_bit }}-{{ "%02d" | format(mes_bit) }}) registró {{ penetracion_nacional | numero(0) }} accesos por cada 100 hogares, usando como denominador los hogares expandidos de la ENDUTIH {{ anio_endutih }}. Las mayores cifras correspondieron a {{ mayor_1.entidad }} ({{ mayor_1.penetracion | numero(0) }}), {{ mayor_2.entidad }} ({{ mayor_2.penetracion | numero(0) }}) y {{ mayor_3.entidad }} ({{ mayor_3.penetracion | numero(0) }}); las menores fueron {{ menor_1.entidad }} ({{ menor_1.penetracion | numero(0) }}), {{ menor_2.entidad }} ({{ menor_2.penetracion | numero(0) }}) y {{ menor_3.entidad }} ({{ menor_3.penetracion | numero(0) }}).
