En el segmento no residencial del servicio de televisión restringida, el último corte disponible del BIT ({{ anio_bit }}-{{ "%02d" | format(mes_bit) }}) registró {{ penetracion_nacional | numero(0) }} accesos por cada 100 unidades económicas, usando como denominador los establecimientos del DENUE {{ periodo_denue }}. Las mayores cifras correspondieron a {{ mayor_1.entidad }} ({{ mayor_1.penetracion | numero(0) }}), {{ mayor_2.entidad }} ({{ mayor_2.penetracion | numero(0) }}) y {{ mayor_3.entidad }} ({{ mayor_3.penetracion | numero(0) }}); las menores fueron {{ menor_1.entidad }} ({{ menor_1.penetracion | numero(0) }}) y {{ menor_2.entidad }} ({{ menor_2.penetracion | numero(0) }}). La variación anual de los accesos fue de {{ crecimiento_anual | porcentaje(1) }}.
