Al cierre de {{ anio }}, el segmento residencial registró {{ total_residencial | numero(0) }} accesos de televisión restringida. {{ residencial[0].tecnologia }} concentró {{ residencial[0].participacion | porcentaje(1) }}, seguida de {{ residencial[1].tecnologia }} con {{ residencial[1].participacion | porcentaje(1) }}. En el segmento no residencial se registraron {{ total_no_residencial | numero(0) }} accesos; {{ no_residencial[0].tecnologia }} representó {{ no_residencial[0].participacion | porcentaje(1) }}.
