Según la ENDUTIH {{ anio }}, {{ dispositivo_max | lower }} fue el dispositivo inteligente más utilizado, con {{ porcentaje_max | numero(1) }}%. {{ dispositivo_min }} presentó la menor participación, con {{ porcentaje_min | numero(1) }}%.
